/* App background */
.background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: rgba(32, 32, 32, 1);
}

.img-responsive{
    max-width: 100%;
    height: auto;
    display: block;
}


