/* App background */
.background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: rgba(32, 32, 32, 1);
}

.img-responsive{
    max-width: 100%;
    height: auto;
    display: block;
}

/* Inputs */
.item {
    border: 0;
    font-family: 'Open Sans', sans-serif;
}
.item input {
    color: rgba(255,255,255,1);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.input-label {
    color: #ff7e14;
    font-size: 18px;
    
}
.button-custom{
    background-color: rgba(50,50,50,1);
    color: #ff7e14;
    padding: 5px ;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
    transition: .3s;
    border-radius: 0px;
}

.button-custom:focus,
.button-custom:active,
.button-custom:hover{
    background-color: #14ff14; /* Green */
    -webkit-animation: CustomButtonColor 2s linear ;
}
@-webkit-keyframes CustomButtonColor {
    0% {
        background-color: rgba(32,32,32,1);
    }
    25% {
        background-color: #ff7e14; /* Orange */
    }
    
    100% {
        background-color: #14ff14; /* Green */
    }
}
.signin{
    margin-top: 10%;
}
.signin .title {
    font-family: 'Open Sans', sans-serif;
    color: rgba(255,255,255,1);
}