.popup {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
}

.popup .content {
    margin-top: 50%;
    /*transform: translate(0%, -50%);*/
    background-color: rgba(20,20,20,1);
    width: 100%;
    height: auto;
    z-index: 100;
}

.popup .content .title {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 10px;
    display: block;
    margin-bottom: 30px;
    -webkit-animation: PopUpText 8s infinite linear;
}

.popup .content .line{
    width: 100%;
    height: 2px;
    -webkit-animation: PopUpLines 8s infinite linear;
}
.popup .content .up{
    margin-bottom: 30px;
}
.popup .content .down{
    float: right;
}
.popup .button-custom {
    -webkit-animation: PopUpText 8s infinite linear;
    border-radius: 0;
    background-color: rgba(32,32,32,1);
    font-weight: bold;
}
@-webkit-keyframes PopUpLines {
    0% {
        background-color: #14ff14; /* Green */
    }
    25% {
        background-color: #ff7e14; /* Orange */
    }
    50% {
        background-color: #ff1414; /* Red */
    }
    75% {
        background-color: #14ffff; /* Blue */
    }
    100% {
        background-color: #14ff14; /* Green */
    }
}
@-webkit-keyframes PopUpText {
    0% {
        color: #14ff14; /* Green */
    }
    25% {
        color: #ff7e14; /* Orange */
    }
    50% {
        color: #ff1414; /* Red */
    }
    75% {
        color: #14ffff; /* Blue */
    }
    100% {
        color: #14ff14; /* Green */
    }
}